/* style */

/* responsive */
/* 1366px */
@media (max-width: 1366px) {}

/* 1024px */
@media (max-width: 1024px) {}

/* 768px */
@media (max-width: 768px) {}

/* 480px */
@media (max-width: 480px) {}

/* 345px */
@media (max-width: 364px) {}