@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-heading-font: "Montserrat", sans-serif;
    --primary-para-font: "Lato", sans-serif;
}

#herolifestysec .banner-container {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url('../images/blog/blogbg.png') center/cover;
}

/* blogcontainerSec style start */
#blogcontainerSec {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px 0;
}

#blogcontainerSec .container {
    display: flex;
    margin: 0 auto;
    background: #fff;
}

/* ================= SIDEBAR ================= */
#blogcontainerSec {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px 0;
}

#blogcontainerSec .container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

/* ================= SIDEBAR (DESKTOP DEFAULT) ================= */
#blogcontainerSec .sidebar {
    flex: 1.2;
    background-color: #ffffff;
    padding: 30px 20px;
    min-height: 100vh;
    display: block;
}

#blogcontainerSec .search-box {
    position: relative;
    margin-bottom: 30px;
}

#blogcontainerSec .search-box input {
    width: 100%;
    padding: 1.5rem 2rem 2rem 1rem;
    border: 1px solid #EFDFDF;
    border-radius: 4px;
    background-color: #EFDFDF;
    font-size: 1.5rem;
}

#blogcontainerSec .search-box::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    background-image: url("../images/blog/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

#blogcontainerSec .sidebar-section {
    background: #EFDFDF;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#blogcontainerSec .sidebar h3 {
    margin-bottom: 15px;
    font-family: var(--primary-heading-font);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #801B53;
}

#blogcontainerSec .sidebar ul {
    list-style: none;
    padding: 0;
}

#blogcontainerSec .sidebar li {
    padding: 1rem 0;
    cursor: pointer;
    font-family: var(--primary-para-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
}

#blogcontainerSec .sidebar li:not(:last-child) {
    border-bottom: 1px solid #801B53;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

/* ================= MAIN CONTENT ================= */
#blogcontainerSec .main-content {
    flex: 3;
    padding: 40px;
}

#blogcontainerSec .articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#blogcontainerSec .article-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#blogcontainerSec .article-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blogcontainerSec .article-content {
    padding: 20px;
}

#blogcontainerSec .article-meta {
    color: #000000;
    margin-bottom: 1.5rem;
    font-family: var(--primary-para-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

#blogcontainerSec .article-title {
    margin-bottom: 2rem;
    color: #801B53;
    font-family: var(--primary-heading-font);
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
}

#blogcontainerSec .article-excerpt {
    font-size: 14px;
    color: #000000;
    font-family: var(--primary-heading-font);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

/* ================= PAGINATION ================= */
#blogcontainerSec .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

#blogcontainerSec .pagination button {
    padding: 8px 12px;
    border: none;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    font-size: 1.6rem;
    font-weight: 600;
}

#blogcontainerSec .pagination button.active {
    color: #821A52;
    font-size: 2rem;
}

/* blogcontainerSec style end*/


/* responsive media screen code */
/* 1366px */
@media (max-width: 1366px) {
    #blogcontainerSec .article-meta {
        font-size: 14px;
    }

    #blogcontainerSec .article-title {
        font-size: 26px;
        line-height: 33px;
    }

    #blogcontainerSec .article-excerpt {
        font-size: 16px;
        line-height: 20px;
    }

    #blogcontainerSec .sidebar h3 {
        font-size: 18px;
        line-height: 26px;
    }
}

/* 1024px */
@media (max-width: 1024px) {
    #navbarsec .enquiry-btn {
        padding: 6px 20px;
        font-size: 12px;
        font-weight: 500;
    }

}

/* 768px */
@media (max-width: 768px) {
    #blogcontainerSec .container {
        flex-direction: column;
    }

    #blogcontainerSec .sidebar {
        display: none;
    }

    #blogcontainerSec .main-content {
        padding: 20px;
    }

    #blogcontainerSec .articles-grid {
        grid-template-columns: 1fr;
    }
}

/* 480px */
@media (max-width: 480px) {}

/* 345px */
@media (max-width: 364px) {}

@media screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
}