@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-heading-font: "Montserrat", sans-serif;
    --primary-para-font: "Lato", sans-serif;
}

/* serachFilterprimusconsec start */
#serachFilterprimusconsec .search-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    max-width: 768px;
    display: flex;
    gap: 10px;
    z-index: 50;
}

#serachFilterprimusconsec .search-wrapper {
    flex: 1;
    background: #EFDFDF;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 14px 16px;
}

#serachFilterprimusconsec .search-wrapper input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
}

#serachFilterprimusconsec .search-wrapper input::placeholder {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.4);
}

#serachFilterprimusconsec .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}

#serachFilterprimusconsec .filter-btn {
    background: #EFDFDF;
    border: none;
    border-radius: 14px;
    width: 4rem;
    font-size: 18px;
    cursor: pointer;
}

#serachFilterprimusconsec .filter-btn img {
    width: 2rem;
}

#serachFilterprimusconsec .category-panel {
    position: fixed;
    bottom: 92px;
    /* search bar ke upar */
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    max-width: 768px;
    background: #EFDFDF;
    border-radius: 20px;
    padding: 18px 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .15);
    display: none;
    z-index: 40;
}

#serachFilterprimusconsec .category-panel.active {
    display: block
}

#serachFilterprimusconsec .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

#serachFilterprimusconsec .category-header h3 {
    font-size: 22px;
    color: #801B53;
    font-family: var(--primary-heading-font);
}

#serachFilterprimusconsec .close {
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    color: #777;
}

#serachFilterprimusconsec .category-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#serachFilterprimusconsec .category-list li {
    background: transparent;
    padding: 16px 4px 16px 0;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 2px solid rgba(107, 45, 92, 0.35);
    color: #000000;
    font-family: var(--primary-para-font);
}

#serachFilterprimusconsec .category-list li:last-child {
    border-bottom: none;
}

#serachFilterprimusconsec .category-list li:active {
    background: rgba(255, 255, 255, .8)
}

/* serachFilterprimusconsec end */

#herolifestysec .banner-container {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url('../images/blog/blogbg.png') center/cover;
}

/* blogcontainerSec style start */
#blogcontainerSec {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px 0;
}

#blogcontainerSec .container {
    display: flex;
    margin: 0 auto;
    background: #fff;
}

/* ================= SIDEBAR ================= */
#blogcontainerSec {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px 0;
}

#blogcontainerSec .container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

/* ================= SIDEBAR (DESKTOP DEFAULT) ================= */
#blogcontainerSec .sidebar {
    flex: 1.2;
    background-color: #ffffff;
    padding: 30px 20px;
    min-height: 100vh;
    display: block;
}

#blogcontainerSec .search-box {
    position: relative;
    margin-bottom: 30px;
}

#blogcontainerSec .search-box input {
    width: 100%;
    padding: 1.5rem 2rem 2rem 1rem;
    border: 1px solid #EFDFDF;
    border-radius: 4px;
    background-color: #EFDFDF;
    font-size: 1.5rem;
}

#blogcontainerSec .search-box::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    background-image: url("../images/blog/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

#blogcontainerSec .sidebar-section {
    background: #EFDFDF;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 4rem;
}

#blogcontainerSec .sidebar h3 {
    /* margin-bottom: 2rem; */
    font-family: var(--primary-heading-font);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #801B53;
}

#blogcontainerSec .sidebar .subhead-blog {
    margin-bottom: 2rem !important;
}

#blogcontainerSec .sidebar ul {
    list-style: none;
    padding: 0;
}

#blogcontainerSec .sidebar li {
    padding: 1rem 0;
    cursor: pointer;
    font-family: var(--primary-para-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
}

#blogcontainerSec .sidebar li:not(:last-child) {
    border-bottom: 1px solid #801B53;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

/* ================= MAIN CONTENT ================= */
#blogcontainerSec .main-content {
    flex: 3;
    padding: 40px;
}

#blogcontainerSec .articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#blogcontainerSec .article-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#blogcontainerSec .article-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blogcontainerSec .article-content {
    padding: 20px;
}

#blogcontainerSec .article-meta {
    color: #000000;
    margin-bottom: 1.5rem;
    font-family: var(--primary-para-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

#blogcontainerSec .article-title {
    margin-bottom: 2rem;
    color: #801B53;
    font-family: var(--primary-heading-font);
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
}

#blogcontainerSec .article-excerpt {
    font-size: 14px;
    color: #000000;
    font-family: var(--primary-heading-font);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

/* ================= PAGINATION ================= */
#blogcontainerSec .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

#blogcontainerSec .pagination button {
    padding: 8px 12px;
    border: none;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    font-size: 1.6rem;
    font-weight: 600;
}

#blogcontainerSec .pagination button.active {
    color: #821A52;
    font-size: 2rem;
}

/* blogcontainerSec style end*/


/* responsive media screen code */
/* 1366px */
@media (max-width: 1440px) {
    #blogcontainerSec .article-title {
        font-size: 28px;
    }

    #blogcontainerSec .article-excerpt {
        font-size: 21px;
    }

    #blogcontainerSec .subpara-blog {
        font-size: 1rem;
    }

    #blogcontainerSec .sidebar h3 {
        font-size: 20px;
    }

    #blogcontainerSec .article-image {
        height: 300px;
    }

    #blogcontainerSec .main-content {
        padding: 24px;
    }

    #blogcontainerSec .search-box input {
        padding: 1rem 2rem 1rem 1rem;
    }
}

@media (max-width: 1366px) {
    #blogcontainerSec .article-meta {
        font-size: 14px;
    }

    #herolifestysec .banner-content h1 {
        font-size: 61px;
        padding-right: 14rem;
        line-height: 1.3;
    }
}

#blogcontainerSec .article-title {
    font-size: 26px;
    line-height: 33px;
}

#blogcontainerSec .article-excerpt {
    font-size: 16px;
    line-height: 20px;
}

#blogcontainerSec .sidebar h3 {
    font-size: 18px;
    line-height: 26px;
}

#blogcontainerSec .article-image {
    height: 252px;
}

#blogcontainerSec .article-title {
    font-size: 19px;
    line-height: 27px;
}

#blogcontainerSec .main-content {
    padding: 26px;
}

#blogcontainerSec .sidebar li:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#blogcontainerSec .subpara-blog {
    font-size: 1rem;
}


/* 1024px */
@media (max-width: 1024px) {
    #navbarsec .enquiry-btn {
        padding: 6px 20px;
        font-size: 12px;
        font-weight: 500;
    }

    #blogcontainerSec .sidebar {
        padding: 30px 6px;
    }

    #blogcontainerSec .main-content {
        padding: 25px 16px;
    }

    #blogcontainerSec .subpara-blog {
        font-size: 0.8rem;
    }

    #blogcontainerSec .sidebar li {
        font-size: 17px;
        line-height: 30px;
    }

    #blogcontainerSec .search-box input {
        font-size: 1.2rem;
    }

    #blogcontainerSec .article-title {
        font-size: 16px;
        line-height: 22px;
    }

    #blogcontainerSec .article-excerpt {
        font-size: 14px;
        line-height: 19px;
    }

    #blogcontainerSec .article-meta {
        font-size: 12px;
    }

    #blogcontainerSec .pagination button {
        font-size: 1.3rem;
    }

    #blogcontainerSec .pagination button.active {
        font-size: 1.8rem;
    }

    #blogcontainerSec .article-image {
        height: 330px;
    }

    #blogcontainerSec .sidebar h3 {
        font-size: 14px;
        line-height: 22px;
    }

    #blogcontainerSec .sidebar .subhead-blog {
        margin-bottom: 1rem !important;
        font-size: 1rem;
    }

    #blogcontainerSec .sidebar-section {
        margin-bottom: 2rem;
    }


}




/* 768px */
@media (max-width: 768px) {
    #blogcontainerSec .container {
        flex-direction: column;
    }

    #blogcontainerSec .sidebar {
        display: none;
    }

    #blogcontainerSec .main-content {
        padding: 20px;
    }

    #blogcontainerSec .articles-grid {
        grid-template-columns: 1fr;
    }

    #blogcontainerSec .pagination button {
        font-size: 1rem;
    }

    #blogcontainerSec .pagination button.active {
        font-size: 1.4rem;
    }

    #blogcontainerSec .pagination button img {
        width: 2rem;
    }

    /* herolifestyMobsec style start */
    #herolifestyMobsec .hero-container {
        height: 100vh;
        background-image: url('../images/blog/blogmobbg.png');
        background-position: top;
    }

    #herolifestyMobsec {
        margin-top: 0rem;
    }

    #primusMobileNav .pm-header {
        margin: 2rem 1.5rem 0 1.5rem;
    }

    #serachFilterprimusconsec .search-container {
        width: calc(100% - 3.5rem);
    }

    #serachFilterprimusconsec .search-wrapper {
        padding: 20px 16px;
    }

    #blogcontainerSec .article-content {
        padding: 20px 0;
    }

    #blogcontainerSec .article-meta {
        font-weight: 600;
    }

    #blogcontainerSec .article-title {
        font-size: 25px;
        line-height: 26px;
        font-weight: 700;
    }

    #blogcontainerSec .article-excerpt {
        font-size: 18px;
        line-height: 19px;
        color: #000000;
    }
}

/* 480px */
@media (max-width: 480px) {
    #herolifestyMobsec .hero-content h1 {
        font-size: 2.2rem;
        margin-bottom: 90px;
    }

    #blogcontainerSec .pagination {
        gap: 0;
    }
}


/* 345px */
@media (max-width: 364px) {}

@media screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
}