@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-heading-font: "Montserrat", sans-serif;
    --primary-para-font: "Lato", sans-serif;
}

/* blogcontainersec style start */

/* blogcontainersec style end*/


/* responsive media screen code */
/* 1366px */
@media (max-width: 1366px) {}

/* 1024px */
@media (max-width: 1024px) {
    #navbarsec .enquiry-btn {
        padding: 6px 20px;
        font-size: 12px;
        font-weight: 500;
    }
}

/* 768px */
@media (max-width: 768px) {}

/* 480px */
@media (max-width: 480px) {}

/* 345px */
@media (max-width: 364px) {}

@media screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
}