@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-heading-font: "Montserrat", sans-serif;
    --primary-para-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #ffffff;
}


.primary-heading-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #801B53;
    font-size: 80px;
}

.primary-para-font {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 27px;
}